<!-- <p>about-us works!</p> -->
<div class="abou_us_main">
    <div class="about">
        <div class="about_us-img">
            <h3 class="text-center text-white top-30">About Us</h3>
        </div>

        <div class="about_us_inr">
            <div class="row">
                <div class="col-md-5 about_img">
                    <img class="img-fluid" src="../../assets/About.png" alt="">
                </div>
                <div class="col-md-7 about_text">
                    <h3 class="about_heading">Lorem ipsum</h3>
                    <p>
                        
    
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>