
		@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css);
		@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

    body {
      padding: 0px !important;
      min-width: 300px;
      font-family: 'Akkurat-Regular', sans-serif;
      background-color: #fffffe;
      color: #1a1a1a;
      text-align: center;
      word-wrap: break-word;
      -webkit-font-smoothing: antialiased;
  }