<!-- <p>projects works!</p> -->

<div class="projects_container">

    <div class="projects-img">
        <h3 class="text-center text-white top-30">Projects</h3>
    </div>

    <div class="projects_gallery">
        <div class="row">
            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate" routerLink ="donate" >Donate</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                    </div>
                </div>
            </div>

           

        
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                    </div>
                </div>
            </div>

           

        
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                    </div>
                </div>
            </div>

           

        
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project_card">
                    <div class="project_img">
                        <img class="img-fluid" src="../../assets/Projects/project-img.png" alt="">
                    </div>
                    <h2 class="mt-3 mb-0">Hospital</h2>
                    <div class="poject_description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        </p>
                    </div>
                    <div class="mb-5">
                        <!-- <a href="#">Donate</a> -->
                        <button class="mb-5" routerLink ="donate">Donate</button>
                    </div>
                </div>
            </div>

           

        
        </div>
    </div>
</div>