<!-- <p>join-us-form works!</p> -->
<div class="join_us_main">
    <div class="join_us-img">
        <h3 class="text-center text-white top-30">Join Us</h3>
    </div>
    <div class="join_us_form">
        <form action="">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" placeholder="Name">
                </div>
                <div class="col-sm-6">
                    <input type="text" placeholder="Sex">
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" placeholder="DOB">
                </div> 
                <div class="col-sm-4">
                    <input type="text" placeholder="Father's Name">
                </div> 
                <div class="col-sm-4">
                    <input type="text" placeholder="Mother's Name">
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" placeholder="Husband Name">
                </div> 
                <div class="col-sm-8">
                    <input type="text" placeholder="Permanent Address">
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" placeholder="Present Address">
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" placeholder="Educational Qualification">
                </div> 
                <div class="col-sm-4">
                    <input type="text" placeholder="Extra Qualification">
                </div> 
                <div class="col-sm-4">
                    <input type="text" placeholder="Experience">
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" placeholder="Religion">
                </div> 
                <div class="col-sm-4">
                    <input type="text" placeholder="Natinality">
                </div> 
                <div class="col-sm-4">
                    <input type="text" placeholder="Languages Known">
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" placeholder="Contact Number">
                </div> 
                <div class="col-sm-4">
                    <input type="text" placeholder="Permanent Contact Number">
                </div> 
                <div class="col-sm-4">
                    <input type="text" placeholder="Email-id">
                </div> 
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" placeholder="Voter ID">
                </div> 
                <div class="col-sm-4">
                    <input type="text" placeholder="Adhar ID">
                </div> 
                <div class="col-sm-4">
                    <input type="text" placeholder="PAN">
                </div> 
            
            <div class="row">
                <div class="col-sm-5">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                <div class="col-sm-3">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                </div>
                </div>
                <div class="row">
                    <p class="join_us_form_text text-center">
                        In this regard all the information and documents produced by me are true  and best of my knowledge.
                    </p>
                    <p class="join_us_form_text text-center">
                        Thanking You
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div>
                            <p>Place:</p>
                        </div>
                        <div>
                            <p>Date:</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                </div>
                <div class="row">
                    <button id="submitbtn" [routerLink]="['/thankyou']" class="submit_btn">Submit</button>
                </div>
               
             </div>
        </form>
    </div>

</div>

