<nav id="header1" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Onda Sri Krishna Welfare Society</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
        </ul>
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Login</a>
            </li>
              
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link h_sicon" href="#"><img src="../../../assets/facebook.png" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link h_sicon" href="#"><img src="../../../assets/instagram.png" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link h_sicon" href="#"><img src="../../../assets/Vector.png" alt=""></a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                English
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">Hindi</a></li>
                <li><a class="dropdown-item" href="#">Telgu</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
</nav>
<nav id="header2" class="navbar">
  <div class="newHeader">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" alt="">
    </a>
    <span class="onda">ONDA</span>
    <span class="welfare">Sri Krishna Welfare Society</span><br>
    <p class="text-center">
      <span class="regText text-center">Regd. Govt. Of India(Niti Aayog)-WB/2021/0290522</span><br><br>
      <span class="text-center mt-4">WB SOCIETY REGD. NO.-S0019208</span>
    </p>

    <!--     
    <div class="right_menu">
      <form class="btm_content">
        <div class="search_input">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <button class="btn" type="submit" routerLink ="donate">Donate</button>
      </form>
      <button class="navbar-toggler" type="button">
        <i class="fa fa-bars"></i>
      </button>
    </div> -->
  </div>

  <div class="navbar-collapse" id="navbarsExample01">
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Project</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Hospital</a>
          <a class="dropdown-item" href="#">Water</a>
          <a class="dropdown-item" href="#">Wair</a>
          <a class="dropdown-item" href="#">Dairy</a>
          <a class="dropdown-item" href="#">School</a>
          <a class="dropdown-item" href="#">Garment</a>
          <a class="dropdown-item" href="#">Shopping Mall</a>
          <a class="dropdown-item" href="#">Courier Centre</a>
          <a class="dropdown-item" href="#">Car Cafe</a>
          <a class="dropdown-item" href="#">Old age home</a>
          <a class="dropdown-item" href="#">Orphanage</a>
          <a class="dropdown-item" href="#">Hotel</a>
        </div>
      </li>
      <li>
        <a class="nav-link" routerLink ="members">Members</a>
      </li>
      <li>
        <a class="nav-link" routerLink ="advantages">Advantage</a>
      </li>
      <li>
        <a class="nav-link" routerLink ="gallery">Gallery</a>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Join Us</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="joinusForm">Online</a>
          <a class="dropdown-item" href="../../../assets/SKMembershipform.pdf" download="SKMembershipform.pdf">Ofline</a>
        </div>
      </li>
      <li>
        <a class="nav-link" routerLink ="joinUs">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<div class="header_marque">
  <marquee>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</marquee>
</div>
  

