<!-- <p>donate works!</p> -->


<div class="donate_container">
    <div class="row">
        <div class="col-md-5 donate_text text-white">
            <span class="Ngo_heading">DONATE NOW</span>
            <p class="Ngo_paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            </p>
        </div>
        <div class="col-md-7">
           <div class="donate_info text-center">
               <h3>CONTACT THIS NUMBER <span>9111122223</span></h3>
               <h5>OR</h5>
               <div>
                <span class="choose_payment text-white">

                    CHOOSE YOUR PAYMENT METHOD
                </span>   
                </div>
               <h5>OR</h5>
                <h6 class="text-center">
                    Scan this
                </h6>
                <div>
                    <img class="img-responsive" src="../../assets/upi.jpeg" alt="">
                </div>

                <h5>OR</h5>
                <h6 class="text-center">
                    Pay Using UPI_ID
                </h6>
                <div>
                    <h2 class="text-center">9002421221@ybl</h2>
                </div>
           </div>
        </div>
    </div>
</div>