<!-- <p>save-people works!</p> -->

<div class="savepeople_main">
    <div class="row">
        <div class="col-lg-6">
            <div class="save_people">
                <h2>Save People</h2>
                <form action="">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="name" placeholder="Name">
                         </div>
                         <div class="col-md-6">
                             <input type="text" id="name" placeholder="Phone Number">
                         </div>
                         <div class="col-md-6">
                             <input type="email" id="name" placeholder="E-mail">
                         </div>
                         <div class="col-md-6">
                             <input type="text" id="name" placeholder="Address">
                         </div>
                         <div class="col-md-6">
                             <input type="text" id="name" placeholder="State">
                         </div>
                         <div class="col-md-6">
                             <input type="text" id="name" placeholder="ZIP">
                         </div>
                         <div class="col-md-12">
                            <div class="radio_btn">
                                <p>
                                  <input type="radio" id="test1" name="radio-group" checked>
                                  <label for="test1">Hospital</label>
                                </p>
                                <p>
                                  <input type="radio" id="test2" name="radio-group">
                                  <label for="test2">Orphanage</label>
                                </p>
                                <p>
                                  <input type="radio" id="test3" name="radio-group">
                                  <label for="test3">Education</label>
                                </p>
                                <p>
                                    <input type="radio" id="test4" name="radio-group" checked>
                                    <label for="test4">Old age Home</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="test5" name="radio-group">
                                    <label for="test5">Old age Home</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="test6" name="radio-group">
                                    <label for="test6">Old age Home</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="test7" name="radio-group" checked>
                                    <label for="test7">Old age Home</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="test8" name="radio-group">
                                    <label for="test8">Old age Home</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="test9" name="radio-group">
                                    <label for="test9">Old age Home</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="test10" name="radio-group" checked>
                                    <label for="test10">Old age Home</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="test11" name="radio-group">
                                    <label for="test11">Old age Home</label>
                                  </p>
                                  <p>
                                    <input type="radio" id="test12" name="radio-group">
                                    <label for="test12">Old age Home</label>
                                  </p>
                         </div>
                         </div>
                         <div class="col-md-6">
                            <input type="text" id="name" placeholder="Leave a Message">
                         </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="credit_card_info">
                <h2>Credit Card Info</h2>
                <form action="">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="" placeholder="Card Number">
                         </div>
                         <div class="col-md-6">
                             <input type="text" id="" placeholder="Cardholder Name">
                         </div>
                         <div class="col-md-6">
                             <input type="text" id="" placeholder="CVV">
                         </div>
                         <div class="col-md-12 d-flex">
                             <input type="text" id="" placeholder="Donation Amount">
                             <input type="text" id="amount-main" placeholder="Rs.100">
                         </div>
                         <div class="col-md-12">
                             <a href="#">Donate Now</a>
                         </div>
                         
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
