<!-- <p>home works!</p> -->
<div class="home-container">
    <div class="row home_img_list">
        <div class="col-md-2 imgbox">
            <div class="img_content">
                <a class="nav-link" routerLink ="home">Home</a>
            </div>
        </div>
        <div class="col-md-2 imgbox">
            <div class="img_content">
                <a class="nav-link" routerLink ="projects">Projects</a>
            </div>
        </div>
        <div class="col-md-2 imgbox">
            <div class="img_content">
                <a class="nav-link" routerLink ="members">Members</a>
            </div>
        </div>
        <div class="col-md-2 imgbox">
            <div class="img_content">
                <a class="nav-link" routerLink ="joinusForm">Join Us</a>
            </div>
        </div>
        <div class="col-md-2 imgbox">
            <div class="img_content">
                <a class="nav-link" routerLink ="gallery">Gallery</a>
            </div>
        </div>
        <div class="col-md-2 imgbox">
            <div class="img_content">
                <a class="nav-link" routerLink ="joinUs">Contact Us</a>
            </div>
        </div>
    </div>
    <!-- Read more container -->
    <div class="bg-img_main">
        <div class="row Readmore" >
            <div class="col-md-6 leftRM">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="right_con">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <p>Lorem ipsum dolor sit amet</p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="img_222">
                <img class="readImage img-fluid" src="../../assets/Rectangle 10.png"  alt="">
    
            </div>
        </div>
    
        <div class="Features_main">
            <div class="row">
                <div class="col-md-12 featop_section">
                    <h2>Features</h2>
                    <h3>Lorem ipsum Lorem ipsumLorem </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore <br>magna aliquaLorem 
                        ipsum dolor sit amet, consectetur adipiscing eli</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="features_inr">
                        <span class="top_img"><img class="img-fluid" src="../../assets/icon3.png"  alt=""></span>
                        <h3>Food</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a.</p>
                        <a routerLink ="donate">Donate Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_inr">
                        <span class="top_img"><img class="img-fluid" src="../../assets/icon3.png"  alt=""></span>
                        <h3>Food</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a.</p>
                        <a routerLink ="donate">Donate Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="features_inr">
                        <span class="top_img"><img class="img-fluid" src="../../assets/icon3.png"  alt=""></span>
                        <h3>Food</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna a.</p>
                        <a routerLink ="donate">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 featop_section text-center mt-0">
                    <h2>Know whats happening</h2>
                    <p><b>News Updates</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="whats_happening">
        <div class="whats_happening_slider">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="happening_left">
                        <img class="img-fluid" src="../../assets/Rectangle 12.png" alt="">
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <span>By:Aradya,June 20,2021</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed doeiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Read More</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="div_scroll">
                        <div class="happening_right">
                            <div class="happening_right_inr">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <img class="img-fluid" src="../../assets/Rectangle 14.png" alt="">
                                    </div>
                                    <div class="col-sm-8">
                                        <h5>Jan 20,2021</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="happening_right_inr">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <img class="img-fluid" src="../../assets/Rectangle 15.png" alt="">
                                    </div>
                                    <div class="col-sm-8">
                                        <h5>Jan 20,2021</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="happening_right_inr">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <img class="img-fluid" src="../../assets/Rectangle 16.png" alt="">
                                    </div>
                                    <div class="col-sm-8">
                                        <h5>Jan 20,2021</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="happening_right_inr">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <img class="img-fluid" src="../../assets/Rectangle 14.png" alt="">
                                    </div>
                                    <div class="col-sm-8">
                                        <h5>Jan 20,2021</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="happening_right_inr">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <img class="img-fluid" src="../../assets/Rectangle 15.png" alt="">
                                    </div>
                                    <div class="col-sm-8">
                                        <h5>Jan 20,2021</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    </div>
                                </div>
                            </div>
                            <div class="happening_right_inr">
                                <div class="row align-items-center">
                                    <div class="col-sm-4">
                                        <img class="img-fluid" src="../../assets/Rectangle 16.png" alt="">
                                    </div>
                                    <div class="col-sm-8">
                                        <h5>Jan 20,2021</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="notification_section">
        <div class="noti_inr row">
            <div class="col-lg-1"></div>
            <div class="col-md-6 col-lg-5">
                <div class="noti_left">
                    <h2>NOTIFICATIONS</h2>
                    <div class="noti_content d-flex align-items-center">
                        <img src="../../assets/Vector (1).png" alt="">
                        <p class="mb-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim veniam,</p>
                    </div>
                    <div class="noti_content d-flex align-items-center">
                        <img src="../../assets/Vector (1).png" alt="">
                        <p class="mb-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim veniam,</p>
                    </div>
                    <div class="noti_content d-flex align-items-center">
                        <img src="../../assets/Vector (1).png" alt="">
                        <p class="mb-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim veniam,</p>
                    </div>
                    <div class="noti_content d-flex align-items-center">
                        <img src="../../assets/Vector (1).png" alt="">
                        <p class="mb-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim veniam,</p>
                    </div>
                    <div class="noti_content d-flex align-items-center">
                        <img src="../../assets/Vector (1).png" alt="">
                        <p class="mb-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim veniam,</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="noti_right">
                    <h2>NOTICE BOARD</h2>
                    <div class="noti_content d-flex align-items-center">
                        <img src="../../assets/Vector21.png" alt="">
                        <p class="mb-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim veniam,</p>
                    </div>
                    <div class="noti_content d-flex align-items-center">
                        <img src="../../assets/Vector21.png" alt="">
                        <p class="mb-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim veniam,</p>
                    </div>
                    <div class="noti_content d-flex align-items-center">
                        <img src="../../assets/Vector21.png" alt="">
                        <p class="mb-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim veniam,</p>
                    </div>
                    <div class="noti_content d-flex align-items-center">
                        <img src="../../assets/Vector21.png" alt="">
                        <p class="mb-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim veniam,</p>
                    </div>
                    <div class="noti_content d-flex align-items-center">
                        <img src="../../assets/Vector21.png" alt="">
                        <p class="mb-0 ml-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                            sed do eiusmod tempor incididunt ut labore et dolore magna 
                            aliqua. Ut enim ad minim veniam,</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>

    <div class="announcements">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h2>Announcements</h2>
                <h4>Vaccination</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,Lorem ipsum 
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inci.</p>
            </div>
            <div class="col-md-5 d-flex justify-content-end">
                <img class="img-fluid" src="../../assets/Rectangle 26.png" alt="">
            </div>
        </div>
    </div>

    <div class="home_contact_us">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="contact_us_form">
                    <h2>Contact Us</h2>
                    <form action="">
                        <input type="text" placeholder="Name">
                        <input type="text" placeholder="Email Id">
                        <input type="text" placeholder="Subject">
                        <input type="text" placeholder="Leave a Message">
                        <a href="#">Send</a>
                    </form>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="contact_us_bg">
                    <h2>‘’Lorem ipsum dolor sit amet, consectetur adipiscing elit’’</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="subscribe_section">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4>
            </div>
            <div class="col-md-6">
                <form class="subs_form" action="">
                    <input type="text" placeholder="Enter Your Mail Id">
                    <button type="submit" class="btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>