<div class="footer_main text-white">
    <div class="footer pt-5">
        <div class="row p-0 m-0">
            <div class="col-md-4 left_footer">
                <img src="../../../assets/logo.png" alt="">
                <span class="onda">ONDA</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                </p>
            </div>
            <div class="col-md-5 footer_menu">
                <div class="row">

                    <div class="col-md-4">
                        <h5 ><a routerLink ="aboutUs">About Us</a></h5>
                        <ul>
                            <li>Loreum</li>
                            <li>Loreum</li>
                            <li>Loreum</li>
                            <li>Loreum</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        
                        <h5 ><a routerLink ="members">Members</a></h5>
                        <ul>
                            <li>Loreum</li>
                            <li>Loreum</li>
                            <li>Loreum</li>
                            <li>Loreum</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        
                        <h5 ><a routerLink ="gallery">Gallery</a></h5>
                        <ul>
                            <li>Loreum</li>
                            <li>Loreum</li>
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="col-md-3 right_footer">
                <h5 ><a routerLink ="joinUs">Contact</a></h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
                </p>
                <p>9111123133</p>
                <p>
                    <img  src="../../../assets/facebook.png" alt="">
                    <img src="../../../assets/instagram.png" alt="">
                    <img src="../../../assets/Vector.png" alt="">
                </p>

            </div>
            <div class="plolicy">
                <p class="text-center"> &copy; 2021,All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>

